* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.981);
    max-width: 100vw;
}

#inputs-form {
    display: flex;
    justify-content: center;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 4em 2em;
}

.input {
    width: 25em;
    height: 3em;
    transition-duration: 1s;
    border-radius: .6em;
    border: none;
    box-shadow: 1px 1px 1px 1px rgb(255, 238, 0);
    padding-left: 1em;
}

.Cep {
    height: 0em;
    background-color: white;
}

#btn {
    position: relative;
    top: 5em;
    right: 14em;
    height: 4em;
    border-radius: 1em;
    max-width: 26em;
}

.labelInputs {
    position: relative;
    top: 1em;
    color: white;
}

.animation {
    height: 3em;
    transition-duration: 1s;
}

.invalid {
    box-shadow: 1px 2px 1px 1px rgb(255, 15, 15);
}

@media screen and (max-width: 768px) {
    #inputs-form {
        display: grid;
        justify-content: center;
    }

    .input {
        width: 19em;
    }

    .section {
        display: grid;
        flex-direction: column;
        gap: 1.8em;
        padding: 0em 0em;
    }

    .labelLocalidade {
        position: relative;
        top: 2.5em;
    }

    .Localidade {
        position: relative;
        top: 2em;
    }

    .labelUF {
        position: relative;
        bottom: 6em;
    }

    .Estado {
        position: relative;
        bottom: 0em;
        width: 20em;
    }

    .labelCidade {
        position: relative;
        top: 1em;
    }

    .Cidade {
        position: relative;
        top: 0em;
    }

    .labelCEP {
        position: relative;
        top: 1em;
    }

    .Cep {
        position: relative;
        top: 0em;
    }

    #btn {
        position: relative;
        left: 0em;
        top: 5em;
        width: 20em;
    }

    .invalid {
        box-shadow: 1px 2px 1px 1px rgb(255, 15, 15);
    }
}
